<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="UserDBContext" 
       connectionString="Data Source=ICHIYA;Initial Catalog=MyAssessment;User Id=wawan;Password=naws77" 
       providerName="System.Data.SqlClient"/>
  <add name="IdentityDB" 
       connectionString="Data Source=ICHIYA;Initial Catalog=MyAssessment_auth;User Id=wawan;Password=naws77" 
       providerName="System.Data.SqlClient" />

  <add name="ErrLoggerDB" 
       connectionString="Data Source=ICHIYA;Initial Catalog=MyAssessment_auth;User Id=wawan;Password=naws77" 
       providerName="System.Data.SqlClient" />
  
  <add name="MongoDBData" connectionString="mongodb://localhost:27017/MyAssessment" />

</connectionStrings>